---
import { Phone, PawPrint } from "lucide-react";
import FacebookIcon from "@assets/icons/facebook.svg";
import Instagramicon from "@assets/icons/instagram.svg";
import TiktokIcon from "@assets/icons/tiktok.svg";
---

<footer class="bg-gray-900 text-white/40 border-t-8 border-orange-500">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 pt-12 pb-8">
    <div
      class="grid grid-cols-2 md:grid-cols-5 gap-8 border-b border-gray-700 pb-10"
    >
      <div class="col-span-2 md:col-span-2 space-y-3">
        <a href="/" class="flex items-center space-x-2">
          <div
            class="p-2 rounded-xl bg-gradient-to-br from-green-600 to-lime-500"
          >
            <PawPrint className="h-6 w-6 text-white" />
          </div>
          <span class="text-2xl font-extrabold text-white">PetCare</span>
        </a>
        <p class="text-sm text-gray-400">Siempre al cuidado de tu mascota.</p>
        <div class="space-y-2 text-sm">
          <p class="flex items-center text-orange-400">
            <Phone className="w-4 h-4 mr-2" /> (555) 123-4567
          </p>
          <p class="text-gray-400">Av Alisos 581, Lima</p>
        </div>
      </div>

      <div class="space-y-4">
        <h3 class="text-lg font-semibold text-orange-500">Services</h3>
        <ul class="space-y-2">
          <li>
            <a
              href="/services"
              class="text-gray-400 hover:text-white transition">Inicio</a
            >
          </li>
          <li>
            <a
              href="/pharmacy"
              class="text-gray-400 hover:text-white transition">Farmacia</a
            >
          </li>
          <li>
            <a href="/food" class="text-gray-400 hover:text-white transition"
              >Comida para mascotas</a
            >
          </li>
        </ul>
      </div>

      <div class="space-y-4">
        <h3 class="text-lg font-semibold text-orange-500">Company</h3>
        <ul class="space-y-2">
          <li>
            <a href="#" class="text-gray-400 hover:text-white transition"
              >Sobre nosotros</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-400 hover:text-white transition"
              >Nuestro equipo</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-400 hover:text-white transition">FAQ</a
            >
          </li>
        </ul>
      </div>

      <div class="space-y-4">
        <h3 class="text-lg font-semibold text-orange-500">Siguenos</h3>
        <div class="flex space-x-3">
          <a
            href="#"
            class="text-gray-400 hover:text-blue-500 transition-colors"
          >
            <FacebookIcon class="w-6 h-6" />
          </a>
          <a
            href="#"
            class="text-gray-400 hover:text-orange-500 transition-colors"
          >
            <Instagramicon class="w-6 h-6" />
          </a>
          <a href="#" class="text-gray-400 hover:text-white transition-colors">
            <TiktokIcon class="w-6 h-6" />
          </a>
        </div>
      </div>
    </div>

    <div class="pt-8 text-center text-sm text-gray-500">
      &copy; 2025 PetCare. All rights reserved. | <span class="text-orange-500"
        >Built with Love</span
      >
    </div>
  </div>
</footer>
<!--  -->
